[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "==1.12.8"
spotipy = "==2.16.1"
youtube-title-parse = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
